.upload-form {
  margin-top: 30px;
}

.upload-form .card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.upload-form .form-group {
  margin-bottom: 20px;
}

.upload-form label {
  font-weight: bold;
  font-size: 20px;
}

.upload-form input[type='file'] {
  margin-top: 5px;
  font-size: 16px;
  width: 550px;
}

.upload-form .text-danger {
  margin-top: 5px;
  color: #f95959;
  font-size: 20px;
  font-weight: 500;
}
