.App {
  text-align: center;
  height: 100vh;
}

.Navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  background: #233142;
  padding: 10px;
  font-weight: bold;
}

.Navbar a {
  color: #e3e3e3;
  text-decoration: none;
}

.Navbar a:hover {
  color: #f95959;
}
